CompileFlags:
  CompilationDatabase: .
  Add: [
    "-x", "c++",
    "--target=xtensa-esp32-elf",
    "-D__XREFS__",
    "-D__XTENSA__=1"
  ]
  Remove: [
    "-mlongcalls",
    "-fstrict-volatile-bitfields",
    "-fno-tree-switch-conversion"
  ]
