<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esp32 Website</title>
    <link rel="stylesheet" href="https://unpkg.com/xterm/css/xterm.css">
    <script src="https://unpkg.com/xterm/lib/xterm.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/terminal">Terminal</a></li>
        <li><a class="selected" href="/computers">Computers on/off</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
    <form action="/toggle1" method="post" target="dummyframe">Toggle HP 1<input type="submit"></form>
    <form action="/toggle2" method="post" target="dummyframe">Toggle HP 2<input type="submit"></form>
    <form action="/toggle3" method="post" target="dummyframe">Toggle Lenovo 1<input type="submit"></form>
    <form action="/toggle4" method="post" target="dummyframe">Toggle Acer 1<input type="submit"></form>
    <form action="/toggle5" method="post" target="dummyframe">Toggle Acer 2<input type="submit"></form>
    <form action="/toggle6" method="post" target="dummyframe">Toggle HP 3<input type="submit"></form>
    <form action="/fan" method="post" target="dummyframe"><input type="number" id="speed" name="speed" min="0"
            max="255">Submit fan speed<input type="submit"></form>
    <div class="slidecontainer">
        <input type="range" min="0" max="255" value="0" class="slider" id="fan">
        <label for="fan" id="fan_label">0</label>
        
    </div>
    <script>
        const fan = document.getElementById("fan");
        const fan_label = document.getElementById("fan_label");
        fan.addEventListener("change", function (event) {
            fan_label.textContent = fan.value;
            fetch("/fan", {
                method: "POST",
                body: JSON.stringify(fan.value),
            });
        });

    </script>
</body>

</html>