<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esp32 Website</title>
    <link rel="stylesheet" href="https://unpkg.com/xterm/css/xterm.css">
    <script src="https://unpkg.com/xterm/lib/xterm.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <ul>
        <li><a class='selected' href="/">home</a></li>
        <li><a href="/terminal">Terminal</a></li>
        <li><a href="/computers">Computers on/off</a></li>
    </ul>

    <h1>Hello World!</h1>
    <p>Your server is running for %TIME% seconds.</p>

</body>
</html>