<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esp32 Website</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/terminal">Terminal</a></li>
        <li><a href="/computers">Computers on/off</a></li>
        <li><a class='selected' href="/admin">Admin</a></li>
    </ul>

    <button onclick='document.cookie = "session=; max-age=0; path=/;";location.reload(true);'>Log Out</button>
    <script>
        function deleteAllCookies() {
            document.cookie = "cookie_name=; max-age=0; path=/;";

        }
    </script>

</body>

</html>