<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home server - Sandgreenpanda</title>
    <link rel="stylesheet" href="https://unpkg.com/xterm/css/xterm.css">
    <script src="https://unpkg.com/xterm/lib/xterm.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <ul>
        <li><a href="/">home</a></li>
        <li><a class='selected' href="/terminal">Terminal</a></li>
        <li><a href="/computers">Computers on/off</a></li>
        <li><a class="%LOGGED_IN%" href="/admin">%LOGGED_IN%</a></li>
    </ul>
    <div id="terminal"></div>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
    <br>
    <form action="/switchssh0" method="post" target="dummyframe"><input type="submit" value="Switch to HP 1"></form>
    <form action="/switchssh1" method="post" target="dummyframe"><input type="submit" value="Switch to HP 2"></form>
    <br>
    <br>
    <form action="/toggle1" method="post" target="dummyframe"><input type="submit" value="Toggle HP 1"></form>
    <p> </p>
    <button style="background-color: #0ab304;" type="button" id="hp1_reconnect">Reconnect</button>

    <br>
    <form action="/scp" method="post" target="dummyframe"><input type="text" id="filepath" name="filepath">File
        path:<input type="submit"></form>
    <form id="fileUploadForm">
        Location on Server: /home/alext/<input type="text" id="file_path" />
        File: <input type="file" name="upload" id="fileInput" />
        <input type="submit" id="btn" />
    </form>

    <script>
        const form = document.getElementById("fileUploadForm");
        const fileInput = document.getElementById("fileInput");
        const filePath = document.getElementById("file_path");

        form.addEventListener("submit", async (event) => {
            event.preventDefault();

            if (!fileInput.files.length) return;

            const file = fileInput.files[0];

            await fetch("/upload", {
                method: "POST",
                headers: {
                    "path": filePath.value,
                    "Content-Type": "application/octet-stream"
                },
                body: file
            });

        });


        const hp1_reconnect = document.getElementById("hp1_reconnect");
        hp1_reconnect.addEventListener("click", function (event) {
            hp1_reconnect.style.filter = 'brightness(0.5)';
            fetch("/SSH1Status", {
                method: "POST"
            }).then(response => response.text()).then(data => {
                hp1_reconnect.style.filter = 'brightness(1)';
                if (data.trim() == "0") {
                    hp1_reconnect.style.backgroundColor = "#ff0000"
                } else {
                    hp1_reconnect.style.backgroundColor = "#0ab304"
                }
            })
        });

        const socket = new WebSocket(`wss://${window.location.hostname}/ssh`);

        socket.onopen = function (event) {
            alert('You are Connected to WebSocket Server');
        };

        socket.onmessage = function (event) {
            term.write(event.data.replaceAll('\n', '\r\n'));
        };

        socket.onclose = function (event) {

            console.log('Disconnected from WebSocket server');
        };

        function sendMessage(message) {
            socket.send(message);
        }


        const term = new Terminal({ rows: 30, cols: 100 });
        const terminalContainer = document.getElementById('terminal');
        term.open(terminalContainer);
        term.write('Welcome to Xterm.js Demo\n\r$ ');
        let command = '';
        term.onData(e => {
            sendMessage(e);
        });
    </script>
</body>

</html>