<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esp32 Website</title>
    <link rel="stylesheet" href="https://unpkg.com/xterm/css/xterm.css">
    <script src="https://unpkg.com/xterm/lib/xterm.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <ul>
        <li><a href="/">home</a></li>
        <li><a class='selected' href="/terminal">Terminal</a></li>
        <li><a href="/computers">Computers on/off</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>
    <div id="terminal"></div>
    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
    <form action="/toggle1" method="post" target="dummyframe">Toggle HP 1<input type="submit"></form>
    <label for="hp1_reconnect" id="hp1_reconnect_label">true</label>
    <p> </p>
    <button type="button" id="hp1_reconnect">Reconnect</button>


    <script>
        const hp1_reconnect = document.getElementById("hp1_reconnect");
        const hp1_reconnect_label = document.getElementById("hp1_reconnect_label");
        hp1_reconnect.addEventListener("click", function (event) {
            fetch("/SSH1Status", {
                method: "POST"
            }).then(response => response.text()).then(data => {
                hp1_reconnect_label.textContent = data;
            })
        });

        const socket = new WebSocket(`wss://${window.location.hostname}/ssh`);

        socket.onopen = function (event) {
            alert('You are Connected to WebSocket Server');
        };

        socket.onmessage = function (event) {
            term.write(event.data.replaceAll('\n', '\r\n'));
        };

        socket.onclose = function (event) {

            console.log('Disconnected from WebSocket server');
        };

        function sendMessage(message) {
            socket.send(message);
        }


        const term = new Terminal({ rows: 30, cols: 100 });
        const terminalContainer = document.getElementById('terminal');
        term.open(terminalContainer);
        term.write('Welcome to Xterm.js Demo\n\r$ ');
        let command = '';
        term.onData(e => {
            sendMessage(e);
        });
    </script>
</body>

</html>